<h1>About Alpha Blog</h1>

<p>Alpha Blog is a learning website under development by Noah Erickon using "The Complete Ruby on Rails Developer Course" on Udemy.</p>

<p><%= image_tag 'desk_selfie.jpg' %></p>

<%= link_to image_tag('home_button.png'), root_path %>
